.wrapper {
    margin-top: 24px;
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    display: flex;
    flex-direction: column;

    &:hover {
        transform: translateY(-4px);
    }
    .images {
        padding-top: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 30px;
        margin-bottom: -30%;
    }

    .content {
        margin: 0 22px;

        .name {
            padding: 12px 0 0 0;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--text-color);
            line-height: 2.8rem;
            height: 4rem;
            overflow: hidden;
            display: block;
            display: -webkit-box;
            -webkit-box-orient: vertical;

            -webkit-line-clamp: 2;
        }

        .group-action {
            display: flex;
            justify-content: space-between;
            padding: 8px 0 16px 0;
            .video-number {
                display: flex;
                align-items: center;
                .wrapper-icon {
                    line-height: 20px;
                    text-align: center;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;

                    .play-icon {
                        color: var(--white);
                    }
                }

                .title {
                    font-size: 1.6rem;
                    font-weight: 400;
                    margin-left: 8px;
                }
            }
        }
    }
}
