.messChat {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
    .img {
        height: 35px;
        margin-left: 13px;
        align-self: flex-end;
    }
    .boxChat::after {
        content: '';
        background: #02040f;
        position: absolute;
        width: 4px;
        right: -1px;
        top: 0;
        height: 100%;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
    }
}

.messChatAI {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
    flex-direction: row-reverse;
    .img {
        height: 35px;
        margin-right: 13px;
        align-self: flex-end;
    }
    .boxChat::before {
        content: '';
        background: #082567;
        position: absolute;
        width: 4px;
        left: -1px;
        top: 0;
        height: 100%;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
    }
}

.boxChat {
    max-width: 60%;
    border-radius: 6px;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0px 0.191px 0.573px 0px rgba(0, 0, 0, 0.11), 0px 1.018px 2.291px 0px rgba(0, 0, 0, 0.13);
    word-wrap: break-word;
    position: relative;
    p {
        padding: 0 8px;
        margin: 4px 4px 4px 2px;
    }
}

.assistant {
    background-color: #87d068 !important;
}

.user {
    background-color: #ff416c !important;
}
