.wrapper {
    margin-top: 24px;
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;

    &:hover {
        transform: translateY(-4px);
    }

    .group-images {
        height: 200px;

        .images {
            padding-top: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 30px;
        }
    }

    .content {
        padding: 14px 14px;

        .name {
            font-size: 1.6rem;
            font-weight: 600;
            word-wrap: break-word;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            color: #292929;
            display: -webkit-box;
            line-height: 1.8;
            overflow: hidden;
        }

        .author {
            display: inline-block;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 8px;

            .group-avatar {
                display: inline-block;

                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 8px;

                    img {
                        width: 80%;
                        height: 80%;
                        object-fit: cover;
                    }
                }

                .info {
                    display: flex;
                    align-items: center;

                    .user-name {
                        font-size: 1.4rem;
                        color: #292929;
                        margin-right: 4px;
                        max-width: 120px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .icon-check {
                        color: var(--color-icon-blue);
                    }
                }
                .personal {
                    display: flex;
                }
            }

            .btn-view-post {
                font-size: 1.4rem;
                padding: 6px 12px;
                white-space: nowrap;
            }
        }
    }
}
