.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    width: var(--default-layout-body-width);
    margin: var(--default-layout-header-height) 0 var(--default-layout-header-height) 0;
    max-width: 100%;

    .content {
        flex: 1 1;
        max-width: 100%;
    }
}
