.content {
    display: flex;
    flex-direction: column;
    span {
        color: #029e74;
        font-size: 1.4rem;
        padding: 6px 0px;
    }
}

.dropdown {
    min-width: 100px;
    .options {
        cursor: pointer;
    }
}

.option-item {
    padding: 12px 20px;
    font-size: 1.4rem;
    cursor: pointer;
    color: #444;
    transition: 0.3s;
}
