.logo {
    display: flex;
    margin: 16px 0px;
    justify-content: center;
}

.layout-container {
    width: 100vw;
    height: 100vh;

    .main {
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
    }
}
