.wrapper-loading {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    .custom-spin {
        margin-right: 8px;
    }

    .loading-text {
        font-size: 16px;
    }
}
