.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;

    .account {
        display: flex;
        gap: 8px;
        align-items: center;
        height: 100%;
        cursor: pointer;
    }

    .user-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
}
